<div class="col-sm-6 col-xs-12">
    <div class="card">
        <div class="card-item" (click)="getCounter()"><img [src]="titleimgsrc" alt="MaterialImg" class="fw img-responsive">
            <div class="card-item-text text-right">Paracosm</div>
        </div>

        <ng-content select="div.btn"></ng-content>

        <div class="card-body pt0">
            <h4 class="m0">{{name}}</h4>
            <input type="text" ngModel #input="ngModel">
            <input type="text" #input1>

            <ng-content select="div.by"></ng-content>

        </div>
    </div>
</div>